{% extends 'base.html' %}

{% block title %}Categorías{% endblock %}

{% block content %}
<div class="container-fluid mt-4">

    <h1 class="text-2xl font-bold mb-4">Categorías</h1>

    <form method="get" class="bg-white p-4 mb-4 rounded shadow">
        <div class="row g-3 align-items-end">

            <div class="col-md-4">
                <input
                    type="text"
                    name="q"
                    value="{{ request.GET.q }}"
                    placeholder="Buscar por nombre o descripción"
                    class="form-control"
                >
            </div>

            <div class="col-md-4">
                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-primary">
                        Buscar
                    </button>

                    <a href="{% url 'categorias' %}" class="btn btn-secondary">
                        Limpiar
                    </a>
                </div>
            </div>

            <div class="col-md-4 text-end">
                <a href="{% url 'crear_categoria' %}" class="btn btn-primary">
                    + Nueva Categoría
                </a>
            </div>

        </div>
    </form>




    <div class="table-container">

        <table class="custom-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr class="hover:bg-gray-100">
                    <td>{{ categoria.nombre }}</td>
                    <td>{{ categoria.descripcion }}</td>
                    <td class="space-x-2">
                        <a href="{% url 'editar_categoria' categoria.pk %}" class="text-yellow-600 hover:underline"><i class="btn btn-sm btn-outline-secondary bi bi-pencil"></i></a>
                        <a href="{% url 'eliminar_categoria' categoria.pk %}" class="text-red-600 hover:underline"><i class="btn btn-sm btn-outline-danger bi bi-trash"></i></a>
                    </td>
                </tr>
                {% empty %}
                    <tr><td colspan="3" class="py-4 text-center text-gray-500">No hay categorías registradas.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
